{% assign page_type = page.type | default: 'other' %}
{% capture page_url %}{{ page.url | replace: 'index.html', '' | prepend: site.url }}{% endcapture %}
{% assign page_title = page.title | append: '' | truncate: 70 %}
{% assign page_description = page.excerpt | default: site.description | strip_html | truncate: 155 %}
{% case page_type %}
    {% when 'article' %}
        {% include var/article_image.liquid image=page.teaser_image %}
        {% assign page_image = article_image %}
    {% when 'photo' %}
        {% include var/photo_attrs.liquid %}
        {% assign page_image = photo_thumbnail %}
    {% else %}
        {% assign page_image = page.teaser_image %}
{% endcase %}
{% if page_image %}
    {% assign page_image = page_image | prepend: site.url %}
{% endif %}
<title>{{ page_title }} | {{ site.title }}</title>
<meta name="description" content="{{ page_description }}" />

<!-- Schema.org -->
<meta itemprop="name" content="{{ page_title }}">
<meta itemprop="description" content="{{ page_description }}">
{% if page_image %}<meta itemprop="image" content="{{ page_image }}">{% endif %}

<!-- Twitter -->
<meta name="twitter:card" content="summary">
<meta name="twitter:title" content="{{ page_title }}">
<meta name="twitter:description" content="{{ page_description }}">
{% if page_image %}<meta name="twitter:image:src" content="{{ page_image }}">{% endif %}
<meta name="twitter:creator" content="@fayndee">

<!-- Open Graph -->
<meta property="og:type" content="{{ page_type }}" />
<meta property="og:title" content="{{ page_title }}" />
<meta property="og:description" content="{{ page_description }}" />
{% if page_image %}<meta property="og:image" content="{{ page_image }}" />{% endif %}
<meta property="og:url" content="{{ page_url }}" />
