$article-hero-height: 30rem;

.article-header {
    a {
        @include child-space;

        &:hover i.icon-right {
            display: inline-block;
        }
    }

    &__caption,
    &__caption--inline {
        border-bottom-width: 1px;
        border-bottom-style: solid;
        padding-bottom: .5em;
    }

    time {
        float: right;
    }

    aside {
        @include child-space;
    }

    &__author,
    &__caption--inline,
    figure,
    i.icon-right {
        display: none;
    }

    &__excerpt {
        @media only screen and (max-width: $screen-small - 1) {
            display: none;
        }
    }
}

.article-hero {
    position: relative;
    height: $article-hero-height;
    background-size: cover;
    background-position: center center;
    color: $white;

    .article-header {
        position: absolute;
        top: 0;
        bottom: 0;
        margin-top: auto;
        margin-bottom: auto;
        height: $article-hero-height / 2;
    }
}

.article-list .article-header {
    &__grid {
        display: flex;
        flex-direction: row;
        @media only screen and (max-width: $screen-small-medium - 1) {
            flex-direction: column;
        }
    }

    figure {
        display: block;
        flex: none;
        width: 12rem;
        height: 12rem;
        margin-right: $column-space;
        @media only screen and (max-width: $screen-small-medium - 1) {
            width: 100%;
            height: 20rem;
            margin-right: 0;
            margin-bottom: $row-space;
        }
    }

    .object-fit & figure {
        background: none;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .no-object-fit & figure {
        background-size: cover;
        background-position: center center;

        img {
            display: none;
        }
    }

    aside {
        flex: auto;
        @include child-space;

        .article-header__title {
            @extend h2;
        }
    }
}

article {
    .article-hero {
        position: inherit;
    }

    .article-header {
        margin-top: -$article-hero-height / 3;

        &__caption--inline {
            display: inline-block;
        }

        &__author {
            display: block;
        }

        aside {
            & > .article-header__caption--inline {
                margin-bottom: $row-space / 2;
            }
            & > .article-header__author {
                margin-bottom: 0;
            }
        }

        &__excerpt {
            display: none;
        }
    }

    figure {
        margin-left: -$column-space;
        margin-right: -$column-space;

        img {
            width: 100%;
        }
    }

    pre {
        margin-left: -$column-space;
        margin-right: -$column-space;
        padding: $row-space $column-space;
        white-space: pre-wrap;
        word-break: break-all;
    }

    [class^=language-] {
        &:before {
            display: block;
            margin-left: -$column-space;
            margin-right: -$column-space;
            padding: $row-space/4 $column-space;
            font-family: monospace;
            text-transform: uppercase;
            color: $white;
            background-color: #5382A1;
        }

        &.language-java:before {
            content: "Java";
        }
    }
}
