* {
    margin: 0;
    padding: 0;
}

.content {
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    padding-left: $column-space;
    padding-right: $column-space;
    @media only screen and (min-width: $screen-xlarge) {
        width: calc(#{$screen-xlarge * .7} - #{$column-space * 2});
    }
    @media only screen and (min-width: $screen-large-xlarge) and (max-width: $screen-xlarge - 1) {
        width: calc(#{$screen-large-xlarge * .75} - #{$column-space * 2});
    }
    @media only screen and (min-width: $screen-large) and (max-width: $screen-large-xlarge - 1) {
        width: calc(#{$screen-large * .8} - #{$column-space * 2});
    }
    @media only screen and (min-width: $screen-medium-large) and (max-width: $screen-large - 1) {
        width: calc(#{$screen-medium-large * .85} - #{$column-space * 2});
    }
    @media only screen and (min-width: $screen-medium) and (max-width: $screen-medium-large - 1) {
        width: calc(#{$screen-medium * .9} - #{$column-space * 2});
    }
    @media only screen and (min-width: $screen-small-medium) and (max-width: $screen-medium - 1) {
        width: calc(#{$screen-small-medium * .9} - #{$column-space * 2});
    }
    @media only screen and (min-width: $screen-small) and (max-width: $screen-small-medium - 1) {
        width: calc(#{$screen-small * .9} - #{$column-space * 2});
    }
}

footer,
header {
    $line-height: 5em;
    $logo-size: 4em;
    position: relative;

    nav {
        float: right;

        li {
            display: inline-block;
            margin-left: $column-space;
        }
    }

    a:not([class~=a--logo]) {
        line-height: $line-height;
    }

    .icon-logo:before {
        font-size: $logo-size;
        line-height: $line-height / $logo-size;
    }
}

footer {
    @media only screen and (max-width: $screen-small - 1) {
        font-size: .8em;

        nav li {
            margin-left: $column-space / 2;
        }
    }
}
