$article-hero-height: 30rem;

section {
    padding-top: $row-space;
    padding-bottom: $row-space;
    @include child-space;
}

blockquote {
    position: relative;
    font-style: italic;

    .content &:not(.quote-info) {
        font-family: $font-headline;

        &:before {
            position: absolute;
            left: -2rem;
            content: "\201C";
            font-size: 4rem;
            line-height: 2rem;
        }

        &:after {
            position: absolute;
            bottom: -.5rem;
            content: "\201D";
            font-size: 3rem;
            line-height: 0;
        }

        & > * {
            display: inline;
            vertical-align: bottom;
        }
    }

    .content &.quote-info {
        margin-left: -$column-space;
        border-left-width: $column-space / 2;
        border-left-style: solid;
        padding-left: $column-space / 2;
    }
}

cite {
    display: block;
    font-style: italic;
}

.article-hero {
    position: relative;
    height: $article-hero-height;
    background-size: cover;
    background-position: center center;
    color: $white;

    .article-header {
        position: absolute;
        top: 0;
        bottom: 0;
        margin-top: auto;
        margin-bottom: auto;
        height: $article-hero-height / 2;
    }
}

.article-header {
    .caption {
        border-bottom-width: 1px;
        border-bottom-style: solid;
        padding-bottom: .5em;
    }

    time {
        float: right;
    }

    .excerpt {
        @media only screen and (max-width: $screen-small - 1) {
            display: none;
        }
    }

    i.icon-right {
        display: none;
    }

    a {
        @include child-space;

        &:hover i.icon-right {
            display: inline-block;
        }
    }

    div.grid {
        display: flex;
        flex-direction: row;
        @media only screen and (max-width: $screen-small-medium - 1) {
            flex-direction: column;
        }

        figure {
            flex: none;
            width: 12rem;
            height: 12rem;
            margin-right: $column-space;
            background-size: cover;
            background-position: center center;
            @media only screen and (max-width: $screen-small-medium - 1) {
                width: 100%;
                height: 20rem;
                margin-right: 0;
                margin-bottom: $row-space;
            }
        }

        aside {
            flex: auto;
            @include child-space;

            .title {
                @extend h2;
            }

            .excerpt {}
        }
    }
}

article {
    figure {
        margin-left: -$column-space;
        margin-right: -$column-space;

        img {
            width: 100%;
        }
    }

    pre {
        margin-left: -$column-space;
        margin-right: -$column-space;
        padding: $row-space $column-space;
        white-space: pre-wrap;
        word-break: break-all;
    }

    .article-hero {
        position: inherit;
    }

    .article-header {
        margin-top: -$article-hero-height / 3;
    }

    div[class^=language-] {
        &:before {
            display: block;
            margin-left: -$column-space;
            margin-right: -$column-space;
            padding: $row-space/4 $column-space;
            font-family: monospace;
            text-transform: uppercase;
            color: $white;
            background-color: #5382A1;
        }

        &.language-java:before {
            content: "Java";
        }
    }
}

footer,
header {
    $line-height: 5em;
    $logo-size: 4em;
    position: relative;

    nav {
        float: right;

        li {
            display: inline-block;
            margin-left: $column-space;
        }
    }

    a:not([class~=compact]) {
        line-height: $line-height;
    }

    .icon-logo:before {
        font-size: $logo-size;
        line-height: $line-height / $logo-size;
    }
}

footer {
    @media only screen and (max-width: $screen-small - 1) {
        font-size: .8em;

        nav li {
            margin-left: $column-space / 2;
        }
    }
}
