---
layout: page_framed
---
{% include var/photo_attrs.liquid %}
{% include var/photos.liquid album=photo.album %}
{% include var/index.liquid array=photos item=photo %}
<figure class="photo content" itemscope itemtype="http://schema.org/ImageObject">
    <a class="photo__link a--mono" href="../{{ photo.album }}/#&amp;gid=1&amp;pid={{ index }}">
        <img src="{{ photo_thumbnail }}" srcset="{{ photo_srcset }}" title="{{ photo.title }}" itemprop="thumbnail" />
    </a>
    <figcaption>
        <cite class="photo__title" itemprop="caption name">{{ photo.title }}</cite>
        <cite class="photo__exif" itemprop="exifData">{{ photo_exif }}</cite>
        <div class="photo__description" itemprop="description">{{ photo.content }}</div>
    </figcaption>
</figure>
{% include disqus.html %}
