---
layout: page_framed
---
{% include var/photos.liquid album=page.album %}
<div class="album content" itemscope itemtype="http://schema.org/ImageGallery">
{% for photo in photos %}
    {% include var/photo_attrs.liquid photo=photo %}
    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject" data-id="{{ photo_id }}" data-index="{{ forloop.index }}">
        <a class="a--mono" href="{{ photo_original }}" itemprop="contentUrl url">
            <img src="{{ photo_thumbnail }}" srcset="{{ photo_srcset }}" title="{{ photo.title }}" itemprop="thumbnail" />
        </a>
        <figcaption>
            <cite itemprop="caption name">{{ photo.title }}</cite>
            <span itemprop="description">{{ photo.excerpt }}</span>
        </figcaption>
    </figure>
{% endfor %}
</div>
{% include photoswipe.html %}
<script>initPhotoSwipeFromDOM('.album');</script>
{% include disqus.html %}
